#about_us_container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5vh;

}
#about_us_image_container
{
    width: 40%;
    display: flex;
    align-items: center;
}
#about_us_image_container img
{
    width: 85%;

}
#about_us_content_container
{
    width: 40%;
}